<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Saint Joseph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05555F6E1D2A041800FBC31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05555F821D2A041A00FBC31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05555F8D1D2A041A00FBC31C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
